<div class="container about-background">
        <div class="header">
        <p>Our mission is to connect the food providers and foodies</p>
        <p>And we do this by...</p>
        </div>
        <div class="description">
        <ul>
        <li style="text-align: center;">Helping People Discover Restaurants Near Them</li>
        <li style="text-align: center;">Build Amazing Experience While Ordering Food</li>
        <li style="text-align: center;">User Friendly Platform for Both Seller and Buyer</li>
        <li style="text-align: center;">Secure Payment Method</li> 
        <li style="text-align: center;">Exciting Offers</li>
        </ul>
        </div>
        </div>
        