footer{
    text-align: center;
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 5px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: aqua;
}
h2{
    text-align: center;
    color: white;
    background-color: black;
    padding: 3px;
}