<div class="container contact">
        <h3>Facing any issue or want some information? Let us know...</h3>
        <form>
        <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Enter your name">
        </div>
        </div>
        <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
        <input type="email" class="form-control" placeholder="Enter your email">
        </div>
        </div>
        <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Enter your issue:</label>
        <div class="col-sm-10">
        <textarea class="form-control" placeholder="Enter your issue"></textarea>
        </div>
        </div>
        <div class="form-group row">
        <div class="col-sm-10">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
        </div>
        </form>
        </div>