<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="signup">Signup</a>
            </li>
          </ul>
    </div>
</nav>
<div class="container background">
    <div class="intro">
        <div class="logo">
        <!-- <a><img src="../../assets/logo.jpg" height="100" width="100" /></a> -->
        </div>
        <p style="text-align: center; margin-top: 1px; color: black;"><b>Find the best foods here</b></p>
        </div>
        <div class="description">
        <p><b>"You don't need a silver fork to eat good food."</b></p>
    </div>
</div>
<router-outlet></router-outlet>